@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: hsl(250, 60%, 99%);
  color: hsl(250, 8%, 45%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: hsl(250, 8%, 15%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div.swiper-button-prev,
div.swiper-button-next {
   color: hsl(250, 69%, 61%);
   padding: 0 2.5rem;
}

div.swiper-button-next:after, div.swiper-button-prev:after {
  font-size: 1.5rem;
}

div.swiper-button-prev {
  left: -.5rem
}

div.swiper-button-next {
  right: -.5rem;
}

div.swiper-horizontal > div.swiper-pagination-bullets {
  bottom: -.25rem;
}

span.swiper-pagination-bullet-active {
  background: hsl(250, 69%, 61%);
}

div.swiper-button-prev,
div.swiper-button-next,
div.swiper-pagination-bullets {
   outline: none;
}